.hk_frame {
    color: black;
    position: absolute;
    padding: 10px;
    background-color: lightskyblue;
    left: 50%;
}

.hk_produktliste {
    color: black;
    padding: 10px;
    background-color: cornflowerblue;
}

.hk_produkt {
    color: black;
    margin-top: 10px;
    padding: 10px;
    background-color: lightcyan;
}

.hk_produkt ul {
    list-style-type: none;
}

.hk_produkt ul li {
    background-color: dodgerblue;
    margin-top: 10px;
}

.produkt {
    color: black;
    position: absolute;
    /*background-color: dimgray;*/
}

.et_produkt {
    background: saddlebrown;
    margin: 1px;
    padding: 5px;
    border: 1px solid;
    position: relative;
    min-width: 400px;
}

.add_to_cart {
    position: absolute; right: 0; bottom: 0;
}


.tilbehor {
    background: #B89470;
}

.tilbehorType {
    color: blue;
    background: #FF00FF;
    margin: 5px;
}

.tilbehornavn{
    color: white;
    background: forestgreen;
    margin: 5px;
}
