.hk_frame {
    color: black;
    position: absolute;
    padding: 10px;
    background-color: lightskyblue;
    left: 50%;
}

.hk_produktliste {
    color: black;
    padding: 10px;
    background-color: cornflowerblue;
}
.hk_produkt {
    color: black;
    margin-top: 10px;
    padding: 10px;
    background-color: lightcyan;
}

.hk_produkt ul {
    list-style-type: none;
}
.hk_produkt ul li {
    background-color: dodgerblue;
    margin-top: 10px;
}

.produkt {
    color: black;
    position: absolute;
    /*background-color: dimgray;*/
}