body { //background-color: #000;
    
}

table {
        width: 700px;
        border-spacing: 0; 
       // margin: auto; 
        padding-right: 10px;
        font-size: 0.75em;
}
        
td, th { padding: 5px; 
         font-family: Helvetica, sans-serif;  } 

tr:nth-of-type(even) { background-color:#eaeaea; } 
tr:nth-of-type(odd) { background-color: #e0e0e0}
tr:first-of-type { background-color: #C96; 
                   color: #000;
                   font-weight: bold;
                  }

tbody td {border-bottom: 1px solid #fff;
          border-right: 1px solid #fff;}