.hk_frame {
    color: black;
    position: absolute;
    padding: 10px;
    background-color: lightskyblue;
    right: 0%;
}

.hk_produktliste {
    color: black;
    padding: 10px;
    background-color: cornflowerblue;
}

.hk_produkt {
    position: relative;
    color: black;
    margin-top: 10px;
    padding: 10px;
    padding-top: 20px;
    background-color: lightcyan;
}

.hk_produkt ul {
    list-style-type: none;
}

.hk_produkt ul li {
    border-bottom: 1px solid dodgerblue;
    margin-top: 10px;
}

.hk_pris{
    position: absolute;
    right: 5px;
    bottom: 2px;
}

.fjern-produkt{
    position: absolute; right: 5px; top: 5px;

}

.produkt {
    color: black;
    position: absolute;
    background-color: #C4B3A4;
    border: 2px solid black;
    padding: 5px;
}
.knapp {
    background: #935C37;
    margin: 1px;
    padding: 5px;
    border: 1px solid;
    position: relative;
    min-width: 400px;
    min-height: 300px;
}

.knapp img{
    float:left;
    border: solid 1px black;
}
.produktnavn{
    background: #ae5d23;
    border: solid 1px black;
    padding: 5px;
}
.beskrivelse{
    background: #ae5d23;
    border: solid 1px black;
    padding: 5px;
    float:left;
    margin-left: 20px;
    max-width: 200px;
}


.et_produkt {
    background: #9F9F9F;
    margin: 1px;
    padding: 5px;
    padding-bottom: 20px;
    border: 1px solid;
    position: relative;
    min-width: 400px;
}

.add_to_cart {
    position: absolute; right: 0; bottom: 0;
}

.produktpris{
    position: absolute; right: 5px; top: 5px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 3px 3px 0px 10000px rgba(0,0,0,.6);
    transform: translate(-50%, -50%);
    z-index: 99;
}
.tilbehor {
    background: #DFDFDF;
}

.tilbehorType {
    color: black;
    background: #DFDFDF;
    margin: 5px;
}

.tilbehornavn{
    color: black;
    background: #FFFFFF;
    margin: 5px;
    position: relative;
}

.tilbehorpris{
    position: absolute;
    right: 5px;
    top: 2px;
}
