.hk_frame {
    color: black;
    position: absolute;
    padding: 10px;
    background-color: lightskyblue;
    left: 50%;
}

.hk_produktliste {
    color: black;
    padding: 10px;
    background-color: cornflowerblue;
}

.hk_produkt {
    color: black;
    margin-top: 10px;
    padding: 10px;
    background-color: lightcyan;
}

.hk_produkt ul {
    list-style-type: none;
}

.hk_produkt ul li {
    background-color: dodgerblue;
    margin-top: 10px;
}

.produkt {
    color: black;
    position: absolute;
    /*background-color: dimgray;*/
}
.knapp {
    background: #935C37;
    margin: 1px;
    padding: 5px;
    border: 1px solid;
    position: relative;
    min-width: 400px;
}

.et_produkt {
    //visibility: hidden;
    background: #9F9F9F;
    margin: 1px;
    padding: 5px;
    border: 1px solid;
    position: relative;
    min-width: 400px;
}

.add_to_cart {
    position: absolute; right: 0; bottom: 0;
}

.popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;

}
.tilbehor {
    background: #DFDFDF;

}

.tilbehorType {
    color: black;
    background: #DFDFDF;
    margin: 5px;
}

.tilbehornavn{
    color: black;
    background: #FFFFFF;
    margin: 5px;
}
