body {
    align-content: center;
   //border-radius: 10px;
    background: -webkit-linear-gradient(to right,#552211,#aa6633, #552211); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to right,#552211,#aa6633, #552211); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to right,#552211,#aa6633, #552211); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,#552211,#aa6633, #552211); /* Standard syntax (must be last) */
    background: linear-gradient(to right,#552211,#aa6633, #552211);
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

button {
   //border-radius: 10px;
    background-color: #cc9966;
    border: none;
    margin-left: 2px;
    margin-bottom: 5px;
}

html{

   //border-radius: 10px;
}

.hk_frame {
    margin: 0px 0px 0px 0px;
    color: black;
    /*padding: 10px;*/
    /*background-color: #6F371B;*/
    background-color: #AA6633;
    position: absolute;
    top: 0;
    right: 0;
   //border-radius: 10px;
}

#title {
    font-size: 150%;
    background: -webkit-linear-gradient(to top,#552211 1%,#aa6633 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to top,#552211 1%,#aa6633 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to top,#552211 1%,#aa6633 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top,#552211 1%,#aa6633 100%); /* Standard syntax (must be last) */
    border-bottom: 1px solid #000000;
    text-align: center;
    padding-top: 10px;
    border-radius: 4px 4px 0 0;
    display: block;
    min-height: 50px;
}

.hk_produktliste {
    color: black;
    /*padding: 10px;*/
    /*background-color: #cc9966;*/
   //border-radius: 10px;
}

.hk_produkt {
    position: relative;
    color: black;
    /*margin-top: 10px;*/
    padding: 20px 10px 10px;
    background: -webkit-linear-gradient(to top, #ba865d 1%,#cc9966 30%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to top,#ba865d 1%,#cc9966 30%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to top,#ba865d 1%,#cc9966 30%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #ba865d 1%,#cc9966 30%); /* Standard syntax (must be last) */
   //border-radius: 10px;
    margin-bottom: 1px;

}

.hk_produkt ul {
    list-style-type: none;
   //border-radius: 10px;
}

.hk_produkt ul li {
    //border-bottom: 1px solid dodgerblue;
    margin-top: 10px;
   //border-radius: 10px;
}

.hk_pris{
    position: absolute;
    right: 5px;
    bottom: 2px;
   //border-radius: 10px;
}

.hk_checkout {
    background-color: #aa937c;
    position: relative;
    padding-bottom: 20px;
}

.empty-cart{
    position: absolute;
    right: 5px;
    top: 30px;
}

.checkBtn{
    position: absolute;
    left: 5px;
    top: 5px;
}

.totalpris {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    text-align: right;
}

.fjern-produkt{
    position: absolute; right: 5px; top: 5px;

   //border-radius: 10px;
}

.produkt {

    color: black;
    background-color: #552211;
    //border: 2px solid black;
    padding: 5px;
    max-width: 700px;
    min-width: 700px;
    //float:left;
    margin-left: auto;
    margin-right: auto;
   //border-radius: 10px;
}
.kategori {

    /*//border: 2px solid #49240e;*/
    /*//border-radius: 10px;*/
}
.kategoriknapp {
    background: #ffeecc;
    margin: 1px;
    padding: 5px;
    //border: 1px solid;
    min-width: 100px;
   //border-radius: 10px;
    font-size: 2em;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    cursor: hand;
}
.kategoriknapp:hover{
    background: #eecc99;
}
.et_produkt {
    //background: #eecc99;
    margin: 1px;
    padding: 5px;
    //border: 1px solid;
    position: relative;
    min-width: 400px;
    min-height: 300px;
   //border-radius: 10px;

    background: -webkit-linear-gradient(#cc9966, #eecc99); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#cc9966, #eecc99); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#cc9966, #eecc99); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#cc9966, #eecc99); /* Standard syntax (must be last) */
}

.et_produkt img{
    float:left;
    //border: solid 1px black;
   //border-radius: 10px;
}
.produktnavn{
    //border: solid 1px black;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
   //border-radius: 10px;
    font-size: 1.5em;
}
.beskrivelse{
    //border: solid 1px black;
    padding: 5px;
    float:left;
    margin-left: 20px;
    max-width: 200px;
    margin-top: 0;
   //border-radius: 10px;
}
.buttons{
    position: absolute; right: 5px; bottom: 0;
    font-size: 1.5em;

}
.pris{
    font-size: 1em;
    display: inline-block;
}
.buttons button{
    font-size: 1em;
    cursor: pointer;
    cursor: hand;
}
.buttons form{
    float:right;
   //border-radius: 10px;
}


.add_to_cart {

    position: absolute; right: 5px; bottom: 0;
   //border-radius: 10px;
    cursor: pointer;
    cursor: hand;
}

.produktpris{
    position: absolute; right: 5px; top: 5px;
   //border-radius: 10px;
}

.popup {
    font-size: 2em;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 3px 15px 0 10000px rgba(0,0,0,.6);
    transform: translate(-50%, -50%);
    z-index: 99;
    background: #aa6633;
    margin: 0px;
    padding: 5px 5px 40px;
    min-width: 400px;
   //border-radius: 10px;

    background: -webkit-linear-gradient(to right,#6F371B,#aa6633, #6F371B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to right,#6F371B,#aa6633, #6F371B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to right,#6F371B,#aa6633, #6F371B); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,#6F371B,#aa6633, #6F371B); /* Standard syntax (must be last) */
    background: linear-gradient(to right,#6F371B,#aa6633, #6F371B);
}

.popup form button{
    font-size: 0.8em;
}
.tilbehor {

    //background: #cc9966;
   //border-radius: 10px;
    padding-bottom: 10px;
    background: -webkit-linear-gradient(#cc9966, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#cc9966, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#cc9966, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#cc9966, white); /* Standard syntax (must be last) */
}
a{
    text-decoration: none;
}
.tilbehorType {
    font-size: 0.7em;

    color: black;
    margin: 5px;
   //border-radius: 10px;
}

.tilbehornavn{
    font-size: 0.9em;
    color: black;
    border-bottom: solid 1px #552211;
    margin: 5px;
    position: relative;
   //border-radius: 10px;
}

.tilbehorpris{
    position: absolute;
    right: 5px;
    top: 2px;
   //border-radius: 10px;
}

.tilbehor .tilbehorType:last-child .tilbehornavn:last-child{
    //border: 0;

}

@media only screen and (max-width: 1100px), only screen and (max-device-width: 1100px) {
    .produkt {

        max-width: 700px;
        min-width: 500px;
        margin-left: 1px;
        margin-right: 0;
    }
    .hk_frame{
        width: 210px;
    }

}


